<section id="quiz" ng-controller="quizCtrl as quiz">

<form id="questionId" ng-submit="quiz.sauvegardeResultat()">

	<div ng-repeat="name in questionencours" id="questionaire">
		<p>{{name.question}}</p>
		<ol>
			<li><label for="reponse1">
				<input type="radio" name="reponse" id="reponse1" ng-model="$scope.reponse"> 
				{{name.reponses.pro1}}</label>
			</li>
			<li><label for="reponse2">
				<input type="radio" name="reponse" id="reponse2" ng-model="$scope.reponse"> 
				{{name.reponses.pro2}}</label>
			</li>
			<li><label for="reponse3">
				<input type="radio" name="reponse" id="reponse3" ng-model="$scope.reponse"> 
				{{name.reponses.pro3}}</label>
			</li>
		</ol>
	</div>
	<input type="submit" value="Suivant">
</form>
</section>